<html>
    <form action="create" method="POST" >
        <table style="margin: auto;border: solid orange 1px;padding: 10px;" >
            <tr>
                <td> <label>Name</label></td>
                <td>  <input name="name" /></td>
            </tr>
            <tr>
                <td> <label>Description</label></td>
                <td>  <input name="description" /></td>
            </tr>
            <tr>
                <td> <label>Price</label></td>
                <td>  <input name="price" /></td>
            </tr>
            <tr><td> <button  type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</html>
